{% extends 'base.html'%}
{%block content%}
<div class="container">
    <div class="row table-responsive">
        <table class="table table-bordered val-table">
            <thead>
                <th>#</th>
                <th>PLatform</th>
                <th>Last traded Price</th>
                <th>Buy/Sell Price</th>
                <th>Difference</th>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <script>
            let data = {{tableData | safe}};

            generate_table(data,"USD");
        </script>
    </div>
</div>
{%endblock%}