{% extends 'base.html'%}
{%block content%}
<div class="container">
    <div class="row table-responsive">
        <table class="table table-bordered">
            <thead>
                <th>#</th>
                <th>PLatform</th>
                <th>Last traded Price</th>
                <th>Buy/Sell Price</th>
                <th>Difference</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Coin 1</td>
                    <td>425201</td>
                    <td>452505/425502</td>
                    <td>42525</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Coin 1</td>
                    <td>425201</td>
                    <td>452505/425502</td>
                    <td>42525</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{%endblock%}