{%extends 'base.html'%}
{%block content%}
<div class="container article" style="text-align: justify;">
    <div class="row">
        <div class="col-sm-6">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
        <div class="col-sm-6">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
</div>
{%endblock%}